// Colours
$orange:#FF6802;
$dark_orange:#C15401;
$graph_red:#DB4437;
$graph_blue:#3871CF;
$light_grey:#C5C5C5;
$grey:#ACAEB0;
$vault_grey:#999;
$slate: #2d2d2d;
$bodygrey:#545454;
$dark_grey:#0d0d0d;

// Font sizes
$fs-p:rem-calc(16px);
$fs-h1:rem-calc(38px);
$fs-h2:rem-calc(32px);
$fs-h3:rem-calc(26px);
$fs-progress:rem-calc(24px);
$fs-footer:rem-calc(13px);

// Font Families
$roboto: 'Roboto', sans-serif;

// Border Radius
$br:rem-calc(2px);

// Font weight
$fw-thin:300;
$fw-medium:400;
$fw-bold:600;
$fw-thick:700;

// Media queries
$small: 0px;
$medium: 640px;
$large: 1024px;
$xlarge: 1200px;
$xxlarge: 1440px;

$md: "only screen and (min-width: #{$medium})";
$lg: "only screen and (min-width: #{$large})";
$xl: "only screen and (min-width: #{$xlarge})";
$xxl: "only screen and (min-width: #{$xxlarge})";
