#dashboard{
  padding:rem-calc(16px);
  @include media-breakpoint-up(lg) {
    padding:rem-calc(72px) rem-calc(16px);
  }
  .file-upload-form, .demo-form{
    text-align: center;
  }
}

#upload-input{
  display:none;
}

.upload-progress, .interpret-progress{
  display:none;
  .percentage{
    font-size:$fs-progress;
    line-height: 1em;
    font-weight:$fw-bold;
  }
  .percentage, .progress{
    margin-bottom:rem-calc(24px);
  }
  .progress{
    .progress-bar{
      background-color:$orange;
    }
  }
}

.status{
  p{
    color:$grey;
  }
}
