#footer{
  color:#fff;
  position:fixed;
  bottom:0;
  left:0;
  background:$dark_grey;
  z-index: 10;
  padding:rem-calc(10px) 0;
  @include media-breakpoint-up(lg) {
    padding:rem-calc(20px) 0;
  }
  p{
    font-size:$fs-footer;
    margin:0;
  }
  .copyright{
    text-align: center;
    margin-bottom:rem-calc(10px);
    @include media-breakpoint-up(lg) {
      text-align: left;
      margin-bottom:0;
    }
  }
  .version{
    text-align: center;
    @include media-breakpoint-up(lg) {
      text-align: right;
    }
  }
}
