body{
  background:#fff;
  padding-bottom:rem-calc(78px);
  @include media-breakpoint-up(lg) {
    padding-bottom:rem-calc(64px);
  }
  &.login{
    background:$orange;
  }
}

.btn{
  background-color:$grey;
  line-height:1em;
  border-radius:$br;
  padding:rem-calc(10px);
  font-size:$fs-p;
  text-transform: uppercase;
  height:auto;
  transition: background-color 0.3s;
  &:hover{
    background-color:darken($grey, 10%);
    transition: background-color 0.3s;
  }
  &:active{
    background-color:lighten($grey, 10%);
    transition: background-color 0.3s;
  }
  &.orange{
    background:$orange;
  }
}

.body-content{
  padding:rem-calc(40px) rem-calc(20px) !important;
}

form{
  margin:0;
}

select{
  display:inline-block;
  width:auto;
}