#index{
  padding:0;
}

.login-form, .register-form{
  h1.page-title{
    text-align: center;
  }
  .card{
    padding:rem-calc(16px);
    @media #{$md}{
      padding:rem-calc(24px);
    }
    .card-action{
      margin-top:rem-calc(20px);
      padding:rem-calc(20px) 0 0 0;
    }
  }
  form{
    float:left;
    width:100%;
    margin: 0 0 rem-calc(20px) 0;
  }
}

.login-form, .register-form{
  .form-group{
    padding:0;
  }
  .submit{
    text-align: center;
  }
}

.login-logo, .register-logo{
  padding:0;
  margin:0;
  img{
    display:block;
    width:rem-calc(200px);
    height:auto;
    margin:0 auto;
    text-align: center;
  }
}
