#nav{
  background-color:$dark_orange;
  position:fixed;
  top:0;
  bottom:0;
  left:0;
  z-index: 1000;
  overflow-x: hidden;
  overflow-y: auto;
  border-right:rem-calc(1px) solid lighten($dark_orange, 5%);
  padding:rem-calc(24px) 0;
  .logo{
    float:right;
    width:rem-calc(64px);
    height:auto;
    padding:rem-calc(5px);
    img{
      width:100%;
      height:auto;
    }
  }
  ul{
    padding:0;
    margin:0;
    list-style-type: none;
    width:100%;
    height:100%;
    li{
      padding:0;
      margin:0;
      list-style-type: none;
      width:100%;
      a{
        display:block;
        width:100%;
        padding:rem-calc(16px);
        color:#fff;
        background-color:transparent;
        transition: background-color 0.5s ease;
        font-size:$fs-p;
        .material-icons{
          font-size:rem-calc(24px);
          margin-right:rem-calc(8px);
        }
        &:hover{
          text-decoration: none;
          background-color:darken($dark_orange, 5%);
          transition: background-color 0.5s ease;
        }
      }
      ul{
        li{
          a{
            padding-left:rem-calc(48px);
            font-size:rem-calc(13px);
          }
          .title{
            font-size:rem-calc(14px);
            font-weight:600;
          }          
        }
        .collapse{
            a{
              padding-left:rem-calc(72px);
            }
          }
      }
    }
  }
}