html{
  font-size:100%;
}
body{
  font-size:rem-calc(16px);
  line-height:1.5em;
  font-family:$roboto;
  color:$slate;
}

h1, h2, h3, h4, h5, h6{
  line-height: 1em;
  margin:0 0 rem-calc(24px) 0;
  color:$slate;
}

h1{ 
  font-size:$fs-h1;
}
h2{ 
  font-size:$fs-h2;
  margin-top:rem-calc(48px);
}
h3{ 
  font-size:$fs-h3;
  margin-top:rem-calc(48px);
}


p, label{
  font-size:$fs-p;
  margin:0 0 rem-calc(24px) 0;
  color:$bodygrey;
}

a{
  text-decoration: none;
  &:hover{
    text-decoration: underline;
  }
}

pre{
  @extend .bg-light;
  padding:rem-calc(16px);
}