.collection{
  .collection-item{
    &.avatar{
      padding:rem-calc(5px);
      min-height:0;
      position:relative;
      float: left;
      width: 100%;
      @media #{$md}{
        padding:rem-calc(13px) rem-calc(13px) rem-calc(13px) rem-calc(40px);
        min-height:rem-calc(65px);
      }
      .circle{
        float:left;
        position:relative;
        left:auto;
        @media #{$md}{
          position:absolute;
          left:rem-calc(15px);
        }
      }
    }
    .file-title{
      color:$vault_grey;
      float:left;
      width:100%;
      @media #{$md}{
        width:auto;
      }
      &:hover{
        text-decoration: none;
      }
      .title{
        padding-left:rem-calc(10px);
        @media #{$md}{
          padding-left:rem-calc(30px);
        }
      }
    }
    .download{
      background:$orange;
      @media #{$md}{
        float:right;
      }
    }
  }
}
